@import url(http://fonts.googleapis.com/css?family=Special+Elite);


div.typedFormatting {
    color: black;
    text-align: center;
    font-family: 'Special Elite', cursive;



}


body{

  background-color: #F0F8FF;
  
}
